---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /thank-you/
Disallow: /es/thank-you/
Disallow: /pt/thank-you/
Disallow: /fr/thank-you/
Disallow: /de/thank-you/
Disallow: /nl/thank-you/
Disallow: /ar/thank-you/
Disallow: /id/thank-you/
Disallow: /vi/thank-you/
Disallow: /ms/thank-you/
Disallow: /styleguide/

User-agent: GPTBot
Allow: /

User-agent: OAI-SearchBot
Allow: /

User-agent: ChatGPT-User
Allow: /

User-agent: PerplexityBot
Allow: /

User-agent: ClaudeBot
Allow: /

User-agent: Claude-SearchBot
Allow: /

User-agent: Google-Extended
Allow: /

User-agent: Applebot-Extended
Allow: /

User-agent: Bingbot
Allow: /

Sitemap: {{ site.url }}/sitemap-index.xml
