---
permalink: /sitemap-index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap><loc>{{ site.url }}/sitemap-pages.xml</loc></sitemap>
  <sitemap><loc>{{ site.url }}/sitemap-products.xml</loc></sitemap>
  <sitemap><loc>{{ site.url }}/sitemap-markets.xml</loc></sitemap>
  <sitemap><loc>{{ site.url }}/sitemap-blog-en.xml</loc></sitemap>
  <sitemap><loc>{{ site.url }}/sitemap-blog-intl.xml</loc></sitemap>
</sitemapindex>
