<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">
      <svg aria-hidden="true"><use href="/assets/icons.svg#icon-leaf"></use></svg>
      <span>Green Plus EXIM</span>
    </a>
    <div class="header-actions">
      <a class="btn btn-secondary" href="tel:{{ site.phoneE164 }}">
        <svg width="16" height="16" aria-hidden="true"><use href="/assets/icons.svg#icon-phone"></use></svg>
        {{ site.phoneDisplay }}
      </a>
    </div>
  </div>
</header>
